body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #2c3e50;
}

ul {
  padding-left: 20px;
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #1a252f;
}
footer {
  text-align: center;
  padding: 15px;
  background: #eaeaea;
}
